#change-password {
  background-color: #DFD4CE;
  padding: 36px;
  margin: auto;
  width: 550px;
}

.change-password__form {
  display: flex;
  flex-direction: column;
  gap: 36px;

  & label{
    color: #000;
    font-family: AnastasiaScript, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-direction: column;
  }

  & button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}